@import '../../../scss/scrollbar';

$listItemHeight: 2rem;

.fusion {
  .monster.dropdown {
    ul {
      max-height: 50vh;
      overflow-y: auto;
      @extend .scrollbar-contain;
    }

    .monster-option {
      display: inline-flex;
      flex-direction: row;
      gap: 0.5em;
      padding-left: 0.5em;
      cursor: pointer;

      &.selected {
        margin-top: -0.25em;
        margin-left: -1em;
      }

      img {
        width: 3rem;
        height: $listItemHeight;
        object-fit: contain;
      }

      p {
        line-height: $listItemHeight;
        padding: 0;
        margin: 0 0 0.125em 0;
      }
    }

    li.monster-option {
      transition: background-color 250ms ease-in-out;

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }

  .fusion-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .fusion-item {
      position: relative;

      .fusion-node {
        position: absolute;
        image-rendering: pixelated;
      }
    }
  }
}
