node_modules
/build
/data
/temp
.env
/.env.*
public/manifest.json
public/manifest.webmanifest
public/site.webmanifest
public/assets/img/generated
public/assets/css/main.css
public/assets/css/main.css.map
public/assets/favicon
public/assets/js/analytics.js
public/assets/img/meta/en
public/assets/img/meta/de_DE
public/assets/img/meta/es_ES
public/assets/img/meta/es_MX
public/assets/img/meta/fr_FR
public/assets/img/meta/it_IT
public/assets/img/meta/ja_JP
public/assets/img/meta/ko_KR
public/assets/img/meta/pt_BR
public/assets/img/meta/zh_CN
