# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Custom
/build
/data
/temp
public/manifest.json
public/manifest.webmanifest
public/site.webmanifest
public/assets/img/generated
public/assets/css/main.css
public/assets/css/main.css.map
public/assets/favicon
public/assets/js/analytics.js
public/assets/img/meta/en
public/assets/img/meta/de_DE
public/assets/img/meta/es_ES
public/assets/img/meta/es_MX
public/assets/img/meta/fr_FR
public/assets/img/meta/it_IT
public/assets/img/meta/ja_JP
public/assets/img/meta/ko_KR
public/assets/img/meta/pt_BR
public/assets/img/meta/zh_CN
public/assets/json
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map

src/assets/json/de_DE
src/assets/json/es_ES
src/assets/json/es_MX
src/assets/json/fr_FR
src/assets/json/it_IT
src/assets/json/ja_JP
src/assets/json/ko_KR
src/assets/json/pt_BR
src/assets/json/zh_CN