<details id="language-dropdown" class="dropdown">
    <summary role="button">
        {{ lookup @root.translate 'TITLE_SCREEN_LANGUAGE_BUTTON'}}
    </summary>
    <ul>
        {{#each @root.availableLanguages}}
        <li id="lang_{{this.id}}">{{this.name}}</li>
        {{/each}}
    </ul>
</details>