/serviceWorker.js
/en
/index.html
/about.html
/CNAME
/assets/js
/terms_and_conditions.html
/privacy_policy.html
/opensearch.xml
/sitemap.xml
/humans.txt
/robots.txt
/en/map
/en/elementReactions
/en/statusEffect
/en/monsters
/en/moves
/en/characters
/en/fusion
/fr_FR
/fr_FR/map
/fr_FR/elementReactions
/fr_FR/statusEffect
/fr_FR/monsters
/fr_FR/moves
/fr_FR/characters
/fr_FR/fusion
/it_IT
/it_IT/map
/it_IT/elementReactions
/it_IT/statusEffect
/it_IT/monsters
/it_IT/moves
/it_IT/characters
/it_IT/fusion
/de_DE
/de_DE/map
/de_DE/elementReactions
/de_DE/statusEffect
/de_DE/monsters
/de_DE/moves
/de_DE/characters
/de_DE/fusion
/es_ES
/es_ES/map
/es_ES/elementReactions
/es_ES/statusEffect
/es_ES/monsters
/es_ES/moves
/es_ES/characters
/es_ES/fusion
/zh_CN
/zh_CN/map
/zh_CN/elementReactions
/zh_CN/statusEffect
/zh_CN/monsters
/zh_CN/moves
/zh_CN/characters
/zh_CN/fusion
/ja_JP
/ja_JP/map
/ja_JP/elementReactions
/ja_JP/statusEffect
/ja_JP/monsters
/ja_JP/moves
/ja_JP/characters
/ja_JP/fusion
/ko_KR
/ko_KR/map
/ko_KR/elementReactions
/ko_KR/statusEffect
/ko_KR/monsters
/ko_KR/moves
/ko_KR/characters
/ko_KR/fusion
/es_MX
/es_MX/map
/es_MX/elementReactions
/es_MX/statusEffect
/es_MX/monsters
/es_MX/moves
/es_MX/characters
/es_MX/fusion
/pt_BR
/pt_BR/map
/pt_BR/elementReactions
/pt_BR/statusEffect
/pt_BR/monsters
/pt_BR/moves
/pt_BR/characters
/pt_BR/fusion