<!DOCTYPE html>
<html lang="en">

{{> partials/documentHead }}

<body class="overflow-x-hidden">

    {{> partials/header }}

    <main class="container page-container">

        {{> @partial-block }}

    </main>

    {{> partials/footer }}
    {{> partials/commonScripts }}

</body>

</html>