<!DOCTYPE html>
<html lang="en">

{{> partials/documentHead }}

<body class="overflow-x-hidden">

    {{> partials/header }}

    <main class="container page-container">

        <div class="full-page-app-notice">
            <assistant-apps-app-notice-list appguid="{{@root.assistantApps.appGuid}}"
                langcode="{{@root.langCode}}"></assistant-apps-app-notice-list>
        </div>

        {{> @partial-block }}

    </main>

    {{> partials/footer }}
    {{> partials/commonScripts }}

</body>

</html>