{{#> layouts/default }}

{{> partials/breadcrumb }}

<div class="grid min-card-width">
  <article class="item-detail-card">
    <div class="item-detail-card-heading primary">
      <h2 class="Neu5Land animate__animated animate__fadeIn" data-translate="TODO">Fusion</h2>
    </div>
    <div class="item-detail-card-body">
      <div class="bio animate__animated animate__fadeIn">
        fusion!
      </div>
    </div>
  </article>
</div>

{{/layouts/default }}