.breadcrumb {
  display: flex;
  flex-direction: row;
  margin-top: 0.25em;
  padding-left: 0;
  gap: 0.5em;

  li {
    list-style: none;
    z-index: 1;

    &:not(:first-child) {
      margin-top: 0.125em;
    }
  }
}
