details.dropdown.blur-on-open {
  summary::before {
    content: ' ';
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms ease-in-out;
  }
  &[open] {
    summary::before {
      background-color: var(--brand-primary-background);
      opacity: 0.4;
      pointer-events: all;
    }
  }
}

details.dropdown.no-overlay {
  summary::before {
    content: ' ';
    opacity: 0;
    pointer-events: none;
  }
}
