.item-grid-list {
  display: grid;
  row-gap: 1em;
  column-gap: 1em;

  .grid-list-item {
    display: flex;
    flex-direction: column;
    background: var(--card-background);
    color: var(--card-foreground);
    border-radius: var(--card-border-radius);
    // background: var(--pico-primary-background);
    text-decoration: none;
    margin: 0;
    padding: 0;
    transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
    overflow: hidden;
    box-shadow: 0 0 0 var(--pico-background-color);

    .grid-list-item-image {
      position: relative;
      text-align: center;
    }

    .grid-list-item-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0;
      padding: 0;
      z-index: 1;

      h2 {
        font-size: 1.3rem;
        padding-top: 0.3em;
        margin-bottom: 0.1em;
      }

      small {
        display: block;
        // margin: 0.25em 0.5em;
        font-style: italic;
        margin-bottom: 0.5em;
      }
    }
  }
}
