#monster-grid {
  grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));

  .grid-list-item {
    position: relative;

    &:hover {
      z-index: 4;
      transform: translateY(-10px) rotate(-2deg);
      box-shadow: 10px 10px 0px var(--brand-tertiary);

      .grid-list-item-image {
        padding-bottom: 0.5em;

        img.sprite,
        img.sprite-anim {
          opacity: 0;
          transform: translateY(5em);
        }

        img.sticker {
          opacity: 1;
          transform: translate(-50%, -50%);
        }

        img.type {
          transform: scale(1.2);
        }
      }
    }

    &.secret img,
    &.secret .grid-list-item-container > * {
      filter: blur(0.5em);
    }

    .grid-list-item-image {
      height: 5.5em;
    }

    img.sprite,
    img.sprite-anim {
      height: 5em;
      object-fit: contain;
      transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
      transform: translateY(0);
      opacity: 1;
      z-index: 1;
    }

    img.sprite-anim {
      display: none;
    }

    img.sticker {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 5em;
      opacity: 0;
      transition: all 250ms ease-in-out;
      transform: translate(-50%, 5em);
      z-index: 1;
    }

    img.type {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1.5em;
      transition: transform 250ms ease-in-out;
      transform-origin: bottom left;
    }

    .grid-list-item-container {
      background: var(--pico-primary-background);

      h2 {
        color: white;
        text-align: center;
        text-shadow: 1px 1px 5px black;
      }

      small {
        color: white;
        text-align: center;
      }
    }

    .bestiary {
      position: absolute;
      top: 0;
      left: 0.25em;
      font-size: 0.6em;
    }
  }
}

#monster-grid.useGif {
  .grid-list-item {
    .grid-list-item-image {
      img.sprite {
        display: none;
      }

      img.sprite-anim {
        display: initial;
      }
    }
  }
}

.monster.dropdown {
  li {
    display: flex;
    flex-direction: row;

    img {
      height: 2rem;
    }
  }
}
