.monster-detail-card {

  .monster-detail-sticker-container {
    position: absolute;
    top: 5em;
    left: -9em;
    width: 8em;
    transform: rotate(-25deg);
  }

  .monster-detail-tape-container {
    position: absolute;
    bottom: 33%;
    right: -7.5em;
    width: 8em;
    transform: rotate(33deg);

    p {
      position: absolute;
      top: 4px;
      left: 0;
      right: 0;
      text-align: center;
      color: white;
    }
  }

  .monster-detail-card-heading {
    &:hover {
      .element-image {
        animation: tada;
        animation-duration: 2s;
      }

      .audio {
        animation: heartBeat;
        animation-duration: 2s;
      }
    }

    .element-image {
      height: 2em;
      width: 2em;
      padding-top: 0.08em;
      padding-right: 0.08em;
    }
  }

  .monster-detail-card-body {
    position: relative;
    overflow-x: auto;

    div.images {
      position: relative;
      padding: 1em;
      z-index: 10;

      .char-image {
        object-fit: contain;
        image-rendering: pixelated;
        transition: transform 250ms ease-in-out;
        pointer-events: unset;

        &:hover {
          transform: scale(1.2);
        }
      }

      .stats {
        text-align: center;
        transition: transform 250ms ease-in-out;

        &:hover {
          transform: scale(1.05);
        }

        svg {
          max-width: 100%;
        }
      }

      .char-image,
      .stats,
      .stats svg {
        height: 15em;
        margin: 0 auto;
      }
    }

    .id {
      position: absolute;
      top: 0.25em;
      right: 0.75em;
    }

    .descrip {
      position: absolute;
      top: 0.5em;
      left: 0.75em;
      font-style: italic;
    }

    .dlc,
    .ability {
      display: flex;
      flex-direction: row;
      gap: 0.5em;

      img {
        height: 2rem;
      }

      div {
        // padding-top: 0.2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .ability {
      justify-content: center;
      padding: 1em 1em 0 1em;
      margin-bottom: -1em;
    }

    .dlc {
      margin-top: 0.5em;
      margin-left: 1em;

      img {
        border-radius: 5px;
      }
    }

    .bio {
      text-align: justify;

      p:last-child {
        margin-bottom: 0;
      }
    }

    .bio,
    .location {
      padding: 1em 1em 0.5em 1em;
    }

    .additional-section,
    .remasters,
    .moves {
      td {
        color: var(--card-foreground);
        background: var(--card-background);
        border-bottom-color: rgba(0, 0, 0, 0.1);
        border-bottom-width: 2px;
        font-size: 0.9rem;
        transition: background-color 250ms ease-in-out;
      }

      .remaster,
      .move {
        color: var(--card-foreground);

        .type img {
          width: 2rem;
          min-width: 1.5rem;
          border-radius: 3px;
        }
      }
    }

    .moves {
      td {
        font-size: 0.7rem;
      }
    }

    .tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      small {
        font-weight: 400;
      }
    }

    .remasters {
      .sprite {
        text-align: center;

        img {
          height: auto;
          max-height: 3em;
          min-width: 1.5rem;
          // margin: 0 auto;
        }
      }

      .specialisation,
      .specialisation p {
        margin: 0;
      }
    }

    .habitat {
      thead tr .sprite {
        padding-left: 2em;
      }

      tr:hover code {
        border: 2px solid darken($gameCardBackground, 20%);
      }

      .overworld {
        padding: 0;

        img {
          height: 2em;
        }
      }

      details {
        margin-top: var(--pico-spacing);
        margin-bottom: 0;

        &[open]>summary {
          margin-bottom: 0;
        }

        summary {
          &::after {
            display: inline-block;
            float: none;
          }

          h3 {
            display: inline-block;
          }
        }
      }
    }

    code {
      padding: 0.25rem;
      margin-left: 0.25rem;
      color: var(--card-foreground);
      background-color: darken($gameCardBackground, 10%);
      border: 2px solid darken($gameCardBackground, 10%);
    }
  }
}

// animation delays
.monster-detail-card {
  .monster-detail-card-body {

    .id,
    .descrip,
    .images {
      animation-delay: 100ms;
    }

    .controls {
      animation-delay: 200ms;
    }

    .bio,
    .ability {
      animation-delay: 300ms;
    }

    .additional,
    .additional-section,
    .remaster-section,
    .wiki-section {
      animation-delay: 400ms;
    }

    .moves {
      animation-delay: 500ms;
    }
  }
}